html,
body {
	height: 100%;
}
body {
	background: url('../img/bg_noise.png');
	min-height: 100%;
}

ol li {
	margin-left: 1.25em;
}

p { margin: 0; }

.column, .columns {
	padding-left: 0;
	padding-right: 0;
}

body > .row {
	background: white;
	/* box-shadow: 0px 0px 3px 3px #f0f0f0;
	margin: 0 .5em; */
	padding: 0 .5em;
}


.sticky .top-bar,
.top-bar.bottom-bar {
	margin-bottom: 0;
}

.top-bar {
	box-shadow: 0px 2px 10px 0px #666;
}


#signInGoogle,
#signedInGoogle {
	margin: 0 10px;
}

.top-bar #home {
	margin-left: 10px;
	padding-left: 36px;
	background: url('../img/icon_home_w.png') no-repeat 0 8px;
}

.top-bar.expanded #signInGoogle,
.top-bar.expanded #signedInGoogle {
	margin: 0 0 10px 10px;
}

#header {
}

#header #title:hover {
	cursor: pointer;
}

#header #logout {
	padding-left: 3em;
	background: url('../img/icon_logout_w.png') no-repeat 7px 8px;
}

#googleLogout { 
	display: none;
	visibility: hidden;
	height: 0;
}


#taskLists .login,
#taskLists .loading {
	height: 100%;
	margin: 33% auto;
	padding-left: 44px;
	font-size: 3em;
	text-align: center;
	color: #ccc;
	background: url('../img/loading.gif') no-repeat 0px 11px;
	vertical-align: middle;
}

#taskLists .login {
	font-size: 2em;
	padding-left: 0;
	background: none;
}

#taskList > h4,
#taskView > h4 {
	color: gray;
}

#taskList,
#taskLists {
	padding-top: 1em;
}

#taskLists #newList {
	/* border-radius: 0; */
}

#taskLists ul > li,
#taskList ul > li {
	clear: both;
	list-style-type: none;
	padding: .20em 0;
	position: relative;
	border-radius: 16px;
}

#taskLists ul > li .right,
#taskList ul > li .right {
	margin-right: .3em;
}

#taskLists ul > li:nth-child(odd),
#taskList ul > li:nth-child(odd) {
	background: #f0f0f0;
}

#taskLists ul > li:nth-child(even),
#taskList ul > li:nth-child(even) {
	background: url('../img/bg_noise.png');
}

#taskLists ul > li.placeHolder,
#taskList ul > li.placeHolder {
	background: #5da423;
	opacity: 0.75;
}


#taskLists ul > li > a,
#taskList a.editTitle,
#taskList ul > li > a {
	/* background: red; */
	padding: .5em 1em .5em .5em;
}

#taskLists a.editTitle {
	padding-left: 2.2em;
	background-image: url('../img/icon_rename_w16.png');
	background-repeat: no-repeat;
	background-position: 5px 3px;
}

#taskList a.editTitle.completed {
	color: #888;
}

#taskLists ul > li > a,
#taskList a.editTitle {
	padding-right: 2em;
}


#taskLists .reOrder,
#taskList .reOrder {
	padding: 0;
	height: 32px;
	width: 32px;
	position: absolute;
	top: -8px;
	left: 1px;
	vertical-align: middle;
	background: url('../img/icon_rows.png') no-repeat 7px 8px;
}

#taskList .ui-sortable-helper {
  box-shadow: 1px 4px 4px 1px #bbb;
}

#taskLists .placeHolder,
#taskList .placeHolder {
	margin: .5em 0;
	height: 1.8em;
	border: 1px solid #2ba6cb;
}

#taskList ul > li input.completed {
	margin-left: 2.5em;
}

#taskLists ul > li > .right > .editTitle {
	margin-right: .75em;
}

#taskList ul > li > .right > .editNotes {
	color: #999;
	padding-right: .5em;
}

#taskList .taskId {
	color: #ccc;
}

#taskLists a.button,
#taskList button.tiny,
#taskList .button.tiny {
	margin-bottom: .75em;
}
#taskList input[type="checkbox"] {
	margin-bottom: 0;
}

#taskLists a.button.rename,
#taskList a.button.editNotes {
	margin-right: .75em;
}

#taskList input.editTitle,
#taskList textarea#editNotes {
	border-radius: 12px;
}

#taskList textarea#editNotes {
	margin-top: 1em;
}

#taskLists ul > li a.removeList,
#taskLists ul > li a.removeTask,
#taskList ul > li a.removeTask {
	padding-left: 2.2em;
	background-image: url('../img/icon_trash_w16.png');
	background-repeat: no-repeat;
	background-position: 5px 3px;
}

#taskId {
	font-weight: bold;
}

#editNotes {
	height: 15em;
}


#statusBar {
	margin: 0;
	padding: .25em;
	display: none;
	position: absolute; 
	width: 100%;
}

#statusBar.saved h6 {
	margin: 0;
	padding: 0 1em;
	color: white;
	text-align: center;
}